git+https://github.com/openai/CLIP.git
pytorch-lightning==1.06
deeplake==3.9.15
git+https://github.com/katsura-jp/pytorch-cosine-annealing-with-warmup
tokenizers==0.19.1
torch==2.1.0
torchvision==0.16.0
transformers==4.43.3